body {
    background: #173742;
    color: #F1ECE6;
    font-family: 'Noto Serif';
}

.relative {
    position: relative;
}

.overflow-hidden {
    overflow: hidden;
}

.bg-blue { 
    background: #173742;
    color: #F1ECE6;
}

.bg-tan { 
    background: #F1ECE6;
    color: #173742;
}

.bg-tan2 {
    background: #fff7ed;
    color: #173742;
}

.bg-light-blue {
    background: #53B1B1;
    color: #173742;
}

.bg-orange {
    background: #F69000;
    color: #173742;
}

.text-blue { 
    color: #173742;
}

.text-tan { 
    color: #F1ECE6;
}

.text-orange { 
    color: #F69000;
}

.navbar {
    background: transparent;
}

.navbar-toggler {
    border: 0;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(241, 236, 230, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: #F1ECE6;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.offcanvas.offcanvas-end {
    border-left: 0;
}

.navbar-brand {
    padding-left: 12px;
    display: flex;
    align-items: center;
}

@media (min-width: 992px) {

    .navbar-inner {
        margin: 0 auto;
        max-width: 1100px;
        padding: 12px 0;
    }

    .navbar-nav {
        width: 100%;
        justify-content: end;
        padding-right: 12px;
    }
}

.logo {
    max-width: 60px;
}

@media (max-width: 796px) {
    .container {
        padding-left: 24px;
        padding-right: 24px;
    }        
}

.toggle-text {
    text-transform: uppercase;
    margin-right: 6px;
    font-size: 13px;
}

.logo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;
    align-items: center;
    justify-items: center;
}

.logo-grid img {
    max-width: 120px;
    max-height: 120px;
}

@media (min-width: 768px) {
    .logo-grid {
        margin: 0 auto;
        max-width: 70vw;
        grid-template-columns: 1fr 1fr 1fr;
    }    
}

@media (min-width: 992px) {
    .logo-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }    
}

img.center {
    display: block;
    margin: 0 auto;
}

img.circle {
    border-radius: 200px;
}

.client-feedback-container {
    padding-left: 6px;
    padding-right: 6px;
}

@media (min-width: 768px) {
    .client-feedback-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 24px;
        align-items: center;
    }
}

.client-feedback-container img {
    display: block;
    margin: 0 auto;
}

.client-feedback-text span {
    display: block;
    text-align: center;
}

@media (min-width: 768px) {
    .client-feedback-text span {
        text-align: left;
    }
}

.client-feedback-text p {
    margin-top: 12px;
}

#mc_embed_signup {
    max-width: 100%;
    margin: 0 auto;
}

@media (min-width: 992px) {
    #mc_embed_signup {
        max-width: 600px;
        margin: 0;
    }    
}

#mc_embed_signup form {
    margin: 0;
}

#mc_embed_signup .mc-field-group {
    padding-bottom: 12px;
}

.min-width-200 {
    min-width: 200px;
}


.max-width-200 {
    max-width: 200px;
}

.team-member-info {
  text-align: left;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 90%;
    margin: 0 auto;
    max-width: 400px;
}

.hero .text-container {
    width: 100%;
    padding: 32px 0 72px;
}


@media (max-width: 768px) {
    .hero h1,
    h2#testimonials {
        font-size: 20px;
    }

    .hero h1 span,
    h2#testimonials span {
        font-size: 28px !important;
    }

    .hero p {
        font-size: 18px !important;
    }
}

@media (min-width: 768px) {
    .hero {
        padding-top: 0 !important; 
    }

    .hero h1 span{
        font-size: 55px !important;
    }    

    h2#testimonials span {
        font-size: 36px !important;
    }

}

.custom-shape-divider {
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider.top {
    top: 0;
}

.custom-shape-divider.bottom {
    bottom: 0;
}

.custom-shape-divider.reverse {
    transform: scaleX(-1);
}

.custom-shape-divider svg {
    perspective: 1000px;
    position: relative;
    display: block;
    width: calc(135% + 1.3px);
    height: 82px;
    z-index: 0;
    margin-bottom: -1px;    
}

.custom-shape-divider.shape-2 svg {
    width: calc(106% + 1.3px);
    height: 30px;
}

.custom-shape-divider.white .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider.blue .shape-fill {
    fill: #173742;
}

.custom-shape-divider.tan .shape-fill {
    fill: #F1ECE6;
}

.custom-shape-divider.tan2 .shape-fill {
    fill: #fff7ed;
}

.custom-shape-divider.orange .shape-fill {
    fill: #F69000;
}

.service-icon {
    width: 96px;
}

#mc_embed_signup .helper_text {
    background: transparent;
}

.name-definition {
    background: #173742;
    color: #F1ECE6;
}

.brands-worked-with {
    background: #fff;
}

.guitar-guy {
    max-width: 200px;
    display: block;
    transform: translateX(20px);
}

.guitar-guy,
.ladder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 270px;
    margin: auto;
}

@media (min-width: 768px) {
    .ladder {
        position: relative;
        z-index: 1;
        margin-top: -80px;
        margin-bottom: -120px;
    }        
}

@media (max-width: 768px) {
     { display: none }
}

a.cta {
    text-decoration: none;
}

.break-through p {
    font-size: 20px;
    line-height: 3;
}

.break-through p span {
    color: #F69000;
    font-weight: bold;
}
@media (min-width: 768px) {
    .break-through p {
        font-size: 44px;
        line-height: 2;
    }
}

.big-quote p {
    font-size: 24px;
}

@media (min-width: 768px) {
    .big-quote p {
        font-size: 44px;
    }    
}

.text-right {
    text-align: right;
}

p.quote-author {
    font-size: 20px;
}

@media (min-width: 768px) {
    p.quote-author {
        font-size: 32px;
    }
}

.what-to-expect .content img {
    min-width: 64px;
    max-width: 64px;
}

.intonation-copy {
    max-width: 400px;
}

@media (min-width: 768px) {
    .intonation-copy { margin-left: 80px; }
}