body {
    background: #F1ECE6;
    color: #173742;
}

.bg-blue { 
    background: #173742;
    color: #F1ECE6;
}

.bg-tan { 
    background: #F1ECE6;
    color: #173742;
}

.navbar {
    background: transparent;
}

.navbar-toggler {
    border: 0;
}

.navbar-brand {
    padding-left: 12px;
    display: flex;
    align-items: center;
}



@media (min-width: 992px) {

    .navbar-inner {
        margin: 0 auto;
        max-width: 1100px;
        padding: 12px 0;
    }

    .navbar-nav {
        width: 100%;
        justify-content: end;
        padding-right: 12px;
    }
}

.logo {
    max-width: 60px;
}

@media (max-width: 796px) {
    .container {
        padding-left: 24px;
        padding-right: 24px;
    }        
}

.toggle-text {
    text-transform: uppercase;
    margin-right: 6px;
    font-size: 13px;
}

.logo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;
    align-items: center;
    justify-items: center;
}

.logo-grid img {
    max-width: 120px;
    max-height: 120px;
}

@media (min-width: 768px) {
    .logo-grid {
        margin: 0 auto;
        max-width: 70vw;
        grid-template-columns: 1fr 1fr 1fr;
    }    
}

@media (min-width: 992px) {
    .logo-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }    
}

img.center {
    display: block;
    margin: 0 auto;
}

img.circle {
    border-radius: 200px;
}

.client-feedback-container {
    padding-left: 6px;
    padding-right: 6px;
}

@media (min-width: 768px) {
    .client-feedback-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 24px;
        align-items: center;
    }
}

.client-feedback-container img {
    display: block;
    margin: 0 auto;
}

.client-feedback-text span {
    display: block;
    text-align: center;
}

@media (min-width: 768px) {
    .client-feedback-text span {
        text-align: left;
    }
}

.client-feedback-text p {
    margin-top: 12px;
}

#mc_embed_signup {
    max-width: 100%;
    margin: 0 auto;
}

@media (min-width: 992px) {
    #mc_embed_signup {
        max-width: 600px;
        margin: 0;
    }    
}

#mc_embed_signup form {
    margin: 0;
}

#mc_embed_signup .mc-field-group {
    padding-bottom: 12px;
}

.min-width-200 {
    min-width: 200px;
}


.max-width-200 {
    max-width: 200px;
}

.team-member-info {
  text-align: left;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 90%;
    margin: 0 auto;
    max-width: 600px;
}

.hero .text-container {
    width: 100%;
    padding: 32px 0 72px;
}


@media (max-width: 768px) {
    .hero h1 {
        font-size: 28px !important;
    }
    .hero p {
        font-size: 18px !important;
    }
}

@media (min-width: 768px) {
    .hero h1 {
        font-size: 55px !important;
    }    
}

.custom-shape-divider {
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider.top {
    top: 0;
}

.custom-shape-divider.bottom {
    bottom: 0;
}

.custom-shape-divider.reverse {
    transform: scaleX(-1);
}

.custom-shape-divider svg {
    perspective: 1000px;
    position: relative;
    display: block;
    width: calc(135% + 1.3px);
    height: 82px;
    z-index: 0;
    margin-bottom: -1px;    
}

.custom-shape-divider.shape-2 svg {
    width: calc(106% + 1.3px);
    height: 30px;
}

.custom-shape-divider.white .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider.blue .shape-fill {
    fill: #173742;
}

.custom-shape-divider.tan .shape-fill {
    fill: #F1ECE6;
}

.service-icon {
    width: 96px;
}

#mc_embed_signup .helper_text {
    background: transparent;
}

.name-definition {
    background: #173742;
    color: #F1ECE6;
}

.brands-worked-with {
    background: #fff;
}

.guitar-guy {
    width: 160px;
    display: block;
    margin: 0 auto;
    padding: 24px 0 32px;
    transform: translateX(20px);
}

.ladder {
    display: block;
    margin: -56px auto 24px;
    width: 180px;
    position: relative;
    z-index: 1;
}